/* Moderator Register */

.moderator-register-label {
  font-weight: 600;
}
.moderator-register-textbox {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border-color: black;
  padding-left: 15px;
}
.moderator-register-textbox1 {
  height: 100px;
  width: 100%;
  border-radius: 8px;
  border-color: black;
  padding-left: 15px;
}
.moderator-register-icon {
  height: 250px;
  width: 250px;
  margin-left: 100px;
  margin-top: 25px;
  background-color: rgba(128, 128, 128, 0.438);
  border-radius: 50%;
}
.moderator-register-btn {
  background-color: #6d3698;
  color: white;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 20px;
  font-weight: 600;
}
.moderator-register-radio {
  height: 20px;
  width: 20px;
}
.label-moderator-register {
  font-weight: 400;
}
.moderator-register-box {
  padding-bottom: 50px;
}
.moderator-register-link {
  color: #6d3698;
  text-decoration: underline;
}

.modsignup-eye-box
{
  
  background-color:white !important;
  border: 2px solid black !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-left: 0 solid !important;

 }
 .mod-signup-password-inp
{
  
  border: 2px solid black !important;
  border-right: 0 solid !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mod-signup-password-box
{
  height: 50px;
  width: 99% !important;
  border-radius: 14px;
  border-right:0 !important;
  margin-top: 4.5px;
}
.modsign-toggleEye{
 z-index: 1;
}

/* Moderator Login */

.moderator-login-box {
  width: 100%;
  height: 606px;
  top: 166px;
  left: 132px;
  gap: 0px;
  border: 1px 0px 0px 0px;

  border: 1px solid #6d3698;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.moderator-login-img {
  height: 604px;
  width: 100%;
}
.moderator-login {
  font-size: 20px;
}
.moderator-login-textbox {
  height: 50px;
  width: 70%;
  border-radius: 10px;
  border-color: black;
  margin-left: 10%;
}
.moderator-login-forget {
  color: #6d3698;
}
.moderator-login-link {
  text-align: right;
}
.moderator-login-btn {
  background: #6d3698;
  color: white;
  height: 45px;
  width: 150px;
  border-radius: 20px;
  border: none;
  margin-left: 290px;
}

.modlogin-eye-box
{
  
  background-color:white !important;
  border: 2px solid black !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-left: 0 solid !important;

 }
 .mod-login-password-inp
{
  
  border: 2px solid black !important;
  border-right: 0 solid !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.modLogin-toggleEye{
 z-index: 1;
}
.mod-login-password-box
{
  height: 50px;
  width: 72% !important;
  border-radius: 14px;
  border-right:0 !important;
  margin-top:20px;
}
/* Moderator Forget */

.moderator-forget-link {
  color: #6d3698;
  font-size: 30px;
}
.moderator-forget-box {
  width: 100%;
  height: 600px;
  top: 149px;
  left: 130px;
  gap: 0px;
  border: 1px 0px 0px 0px;

  border: 1px solid #6d3698;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.moderator-forget-img {
  height: 598px;
  width: 100%;
}
.moderator-forget-textbox {
  height: 50px;
  width: 70%;
  border-radius: 10px;
  border-color: black;
  margin-left: 16%;
  color: grey;
  padding-left: 25px;
}
.moderator-forget-btn {
  background-color: #6d3698;
  height: 50px;
  width: 30%;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 20px;
}
.mod-forget-eye-box
{
  
  background-color:white !important;
  border: 2px solid black !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-left: 0 solid !important;

 }
 .mod-forget-password-inp
{
  
  border: 2px solid black !important;
  border-right: 0 solid !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mod-forget-password-box
{
  height: 50px;
  width: 70% !important;
  border-radius: 14px;
  border-right:0 !important;
  margin-top: 5%;
  margin-left: 16%;
}
.mod-forget-toggleEye{
 z-index: 1;
}

/* search in view all user */
.mod-product-request-inp
{
  
  border: 1.147px solid rgba(0, 0, 0, 0.50) !important;

  border-right: 0 solid !important;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}
.mod-product-request-box1
{
  height: 40px;
  width: 300px !important;
  border-radius: 14px;
  border-right:0 !important;
  margin-top:20px;
  margin-right: 50px;
}
/* serach */
.mod-product-request-search-icon{
 z-index: 1;
 font-size: 23px;
}
.modproduct-req-search-box
{
  
  background-color:white !important;
  border: 1.147px solid rgba(0, 0, 0, 0.50) !important;

  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-left: 0 solid !important;

 }