.userChatInterface-body {
  height: 62vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.userChatInterface-input {
  position: absolute;
  bottom: 15px;
}

.userChatInterface-input input {
  width: 848px;
  padding: 2px 673px 3px 10px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0px 0.89px 3.89px 4px rgba(0, 0, 0, 0.25);
  padding-left: 40px;
  margin-left: 20px;
}
.userChatInterface-keyboard-icon {
  z-index: 1;
  margin-left: 31px;
  margin-bottom: 23px;
}
.userChatInterface-chat1 {
  width: fit-content;
  max-width: 90%;
  padding: 5px;
  height: fit-content;
  min-height: 47px;
  border-radius: 9px;
  text-align: center;
  background: #b6650e;
  color: white;
  margin-top: 20px;
  /* background: #d8c1eb; */
  padding: 8px 8px 0px 8px;
  position: relative;
  left: 20px;
  display: block;
}
.userChatInterface-chat2 {
  width: fit-content;
  max-width: 63%;
  height: fit-content;
  min-height: 47px;
  border-radius: 9px;
  background: #d8c1eb;
  text-align: center;
  padding: 8px 8px 0px 8px;
  position: absolute;
  right: 20px;
  display: block;
}

/* modifications  */
#display-user-messages {
}
