@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.userConfirmExchange-body {
  margin-top: 50px;
}
.userConfirmExchange-main-body {
  min-height: 78vh;
}
.userConfirmExchange-product-view {
  height: 191px;
  width: 155px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
  cursor: pointer;
}


.selected {
  border: 4px solid red;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}

.userConfirmExchange-button {
  height: 50px;
  width: 300px;
  position: absolute;
  bottom: 15px;
  font-size: 20px !important ;
  margin-left: 30%;
  border-radius: 10px !important;
  color: #fff;
  background-color: #6d3698 !important;
  margin-top: 10px;
}
.userConfirmExchange-image {
  height: 50%;
  width: 155px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.userConfirmExchange-table th {
  font-size: 10px;
}
.userConfirmExchange-table td {
  font-size: 10px;
  padding-left: 2px;
}
.userConfirmExchange-table {
  height: 28%;
  width: 95%;
  margin-left: 7px;
  margin-top: 12px;
  font-family: poppins;
}
