@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.productrequest-main {
  min-height: 500px;

}
.productrequest-head h2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 5%;
  margin-top: 2%;
}
.productrequest-box2 {
  width: 450px;
  height: 431px;
  border-radius: 24.819px;
  box-shadow: 0px 3.971px 3.971px 3px rgba(0, 0, 0, 0.25);
  margin-left: 5%;
  margin-top: 2%;
  cursor: pointer;
}
.productImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: auto;
}
.productImg img {
  width: 294.61px;
  height: 168.428px;
  border-radius: 20px;
}
.productDetails2 {
  width: 90%;
  margin-left: 5%;
  padding-left: 2%;
  padding-top: 5%;
  overflow: auto;
}
.productDetails2 td {
  padding: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mod-product-request-category
{
  width: 250px !important;
  padding-left: 20px !important;
  margin-left: 40px;
  font-size: 20px !important;
}
.mod-product-request-inp
{
  
  border: 1.147px solid rgba(0, 0, 0, 0.50) !important;

  border-right: 0 solid !important;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}
.mod-product-request-box
{
  height: 50px;
  width: 380px !important;
  border-radius: 14px;
  border-right:0 !important;
  margin-top:20px;
  margin-right: 50px;
}
.mod-product-request-search-icon{
 z-index: 1;
 font-size: 23px;
}
.modproduct-req-search-box
{
  
  background-color:white !important;
  border: 1.147px solid rgba(0, 0, 0, 0.50) !important;

  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border-left: 0 solid !important;

 }