/* Admin Login */

.admin-login-box{
    width: 90%;
    height: 90vh;
}
.admin-login-box1{
    border-color: black;
}
.admin-login-img{
    height:75vh;
    width: 100%;
    border-color: black;
}
.admin-login-h2{
    text-align: center;
    margin-top: 100px;
}
.admin-login{
    font-size: 20px;
}
.admin-login-textbox{
    height: 50px;
    width: 70%;
    border-radius: 10px;
    border-color: black;
}
.admin-login-btn{
    background: #6D3698;
    color: white;
    height: 45px;
    width: 150px;
    border-radius: 20px;
    border: none;
    margin-left: 290px;
}

/* Admin Sidebar */

.admin-sidebar-color{
    background-color: #6E3799;
    height: 100vh;
    width: 100%;
}
.admin-sidebar-img{
    margin-top: 10px;
    margin-left: 30px;
    height: 50px;
    width: 50px;
}
.admin-sidebar-logotext{
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.admin-sidebar-list li{
    color: white;
    margin-top: 20px;
    font-size: 23px;
}
.admin-sidebar-dropdown{
    background-color: #6D3698;
    border: none;
    color: white;
    font-size: 23px;
    margin-top: 5px;
}
.admin-sidebar-icon{
    margin-bottom: 10px;
}
.admin-sidebar-dropdowns{
    background-color: #6D3698;
}

/* Admin Dashboard */

.admin-dash-div1{
    margin-top: 50px;
}
.admin-dash-revenue-box{
    background: #0BC2A4;
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.admin-dash-order-box{
    background-color: #6D6CE4;
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.admin-dash-products-box{
    background-color: #FAAA1D;
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.admin-dash-user-box{
    background-color: #FF6172;
    height: 170px;
    width: 100%;
    border-radius: 20px;
}
.admin-dash-icon{
    color: white;
    margin-top: 40px;
    margin-left: 20px;
    height: 70px;
    width: 70px;
}
.admin-dash-span{
    font-size: 20px;
    color: white;
    margin-top: 30px;
}
.admin-dash-length{
    color: white;
    font-size: 40px;
} 

/* AdminUserView */

.table-container {
    padding: 20px;
}
 
.table {
    width: 100%;
    border-collapse: collapse;
}
.admin-view-user-btn{
    background-color: #D8C1EB;
    border-radius: 7px;
    height: 4vh;
    width: 10%;
}
.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
  }
  
  .toggle-button.active {
    background-color: green;
    color: white;
  }
  
  .toggle-button.inactive {
    background-color: red;
    color: white;
  }