.admin-login-box{
    width: 90%;
    height: 90vh;
}
.admin-login-box1{
    border-color: black;
}
.admin-login-img{
    height:75vh;
    width: 100%;
    border-color: black;
}
.admin-login-h2{
    text-align: center;
    margin-top: 100px;
}
.admin-login{
    font-size: 20px;
}
.admin-login-textbox{
    height: 50px;
    width: 70%;
    border-radius: 10px;
    border-color: black;
}
.admin-login-btn{
    background: #6D3698;
    color: white;
    height: 45px;
    width: 150px;
    border-radius: 20px;
    border: none;
    margin-left: 290px;
}

/* Admin Sidebar */

.admin-sidebar-color{
    background-color: #6E3799;
    height: 100vh;
    width: 100%;
}
.admin-sidebar-img{
    margin-top: 10px;
    margin-left: 10px;
}
.admin-sidebar-logotext{
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.admin-sidebar-list li{
    color: white;
    margin-top: 15px;
    font-size: 23px;
}