/* UserLogin */

.user-login-box {
  width: 100%;
  height: 606px;
  top: 166px;
  left: 132px;
  border: 1px 0px 0px 0px;

  border: 1px solid #6d3698;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.user-login-box1 {
  border-color: black;
}
.user-login-img {
  height: 604px;
  width: 100%;
  margin-left: -12px;
}
.user-login-h2 {
  text-align: center;
  margin-top: 100px;
}
.user-login {
  font-size: 20px;
}
.user-login-textbox {
  height: 50px;
  width: 69%;
  border-radius: 10px;
  border-color: black;
    margin-left: 10% ;
  
}

.user-login-btn {
  background: #6d3698;
  color: white;
  height: 45px;
  width: 150px;
  border-radius: 20px;
}
.user-login-forget {
  color: #6d3698;
  margin-left: 390px;
}
.user-login-error {
  margin-left: 150px;
}
.userlogin-eye-box
{
  
  background-color:white !important;
  border: 2px solid black !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-left: 0 solid !important;

 }
 .user-login-password-inp
{
  
  border: 2px solid black !important;
  border-right: 0 solid !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.user-login-password-box
{
  height: 50px;
  width: 72% !important;
  border-radius: 14px;
  border-right:0 !important;
  margin-top:20px;
}
.userLogin-toggleEye{
 z-index: 1;
}

/* User Forget Password */

.user-forget-img {
  height: 604px;
  width: 100%;
  margin-left: -12px;
}
.user-forget-box {
  width: 1161px;
  height: 606px;
  top: 149px;
  left: 130px;
  gap: 0px;
  border: 1px 0px 0px 0px;

  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #6d3698;
}
.user-forget-textbox {
  height: 50px;
  width: 70%;
  border-radius: 10px;
  border-color: black;
  margin-left: 16%;
  color: grey;
  padding-left: 25px;
}
.user-forget-btn {
  background-color: #6d3698;
  height: 50px;
  width: 30%;
  border: none;
  color: white;
  border-radius: 26px;
  font-size: 20px;
}
.user-forget-div {
  margin-left: 100px;
}


.user-forget-eye-box
{
  
  background-color:white !important;
  border: 2px solid black !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-left: 0 solid !important;

 }
 .user-forget-password-inp
{
  
  border: 2px solid black !important;
  border-right: 0 solid !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.user-forget-password-box
{
  height: 50px;
  width: 70% !important;
  border-radius: 14px;
  border-right:0 !important;
  margin-top: 5%;
  margin-left: 16%;
}
.user-forget-toggleEye{
 z-index: 1;
}

/* User Register */

.user-register-img {
  height: 788px;
  width: 100%;
  margin-left: -12px;
}
.user-register-box {
  width: 100%;
  height: 790px;
  top: 166px;
  left: 132px;
  gap: 0px;
  border: 1px 0px 0px 0px;

  border: 1px solid #6d3698;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.user-register-textbox {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border-color: black;
  padding-left: 15px;
}
.user-register-label {
  font-weight: 600;
}
.user-register-radio :checked {
  height: 10px;
  width: 10px;
}
#user-register-radio {
  height: 20px;
  width: 20px;
}
.label-user-register {
  font-weight: 400;
  color: blue;
}
.user-register-icon {
  height: 250px;
  width: 250px;
  margin-left: 100px;
  margin-top: 25px;
  background-color: rgba(128, 128, 128, 0.438);
  border-radius: 50%;
}
.user-register-btn {
  background-color: #6d3698;
  color: white;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 20px;
  font-weight: 600;
}
.rounded-circle {
  margin-top: 30px;
  margin-left: 30px;
}

.usersignup-eye-box
{
  
  background-color:white !important;
  border: 2px solid black !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-left: 0 solid !important;

 }
 .user-signup-password-inp
{
  
  border: 2px solid black !important;
  border-right: 0 solid !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.user-signup-password-box
{
  height: 50px;
  width: 98% !important;
  border-radius: 14px;
  border-right:0 !important;
  margin-top: 9px;
}
.usersign-toggleEye{
 z-index: 1;
}

/* User Landing Page */

.user-landing-background {
  background: linear-gradient(
    107.65deg,
    rgba(109, 54, 152, 0.7) 0%,
    #6d3698 96.68%
  );
  height: 75vh;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.userlanding-carouselitem1 {
  height: 50vh;
  width: 100%;
  margin-top: 180px;
}
.userlanding-carouselitem2 {
  height: 50vh;
  width: 100%;
  margin-top: 100px;
}
.userlanding-carouselitem3 {
  height: 70vh;
  width: 80%;
}
.user-landing-para {
  font-size: 50px;
  color: white;
}
.user-landing-para1 {
  font-size: 30px;
  color: white;
  margin-left: 80px;
}
.user-landing-button {
  background-color: white;
  border: none;
  height: 80px;
  width: 350px;
  font-size: 40px;
  font-weight: 500px;
  border-radius: 8px;
  font-weight: 600;
  color: #6e3799;
}
.user-landing-h1 {
  color: white;
}
.user-landing-div {
  color: white;
  font-size: 26px;
  margin-top: 30px;
}
.user-landing-button2 {
  background-color: white;
  border: none;
  height: 70px;
  width: 350px;
  font-size: 35px;
  font-weight: 500px;
  border-radius: 8px;
  font-weight: 600;
  color: #6e3799;
}
.user-landing-landingdelivery {
  width: 100%;
  height: 70vh;
}
.user-landing-h4 {
  color: #8455a8;
}
.user-landing-paragraph {
  text-align: justify;
}
.user-landing-find {
  color: #6d3698;
}
.userlanding-men-img {
  background-color: #d9d9d9;
  border: none;
  height: 30vh;
}
.userlanding-text {
  background-color: #f6f7f8;
  border-style: none;
}
.userlanding-delivery-img {
  height: 30vh;
}
.userlanding-cardtext {
  font-weight: 15px;
}
.userlandingfamily {
  height: 80vh;
  width: 100%;
}

/* UserMainNavBar */
.userNavbar-arrow::after 
{
  border-top: 0em solid transparent !important;
}
.usermainnav-page-color {
  background: linear-gradient(
    109.33deg,
    #662c93 1.13%,
    rgba(102, 44, 147, 0.7) 99.15%
  );
  height: 75px;
  width: 100%;
}
.usermainlogoimg {
  height: 30px;
  width: 30px;
}
.usermainnav-page-trade {
  color: #e959c1;
  font-size: 30px;
  margin-left: 10px;
}
.usermainnav-page-hub {
  color: #16a72d;
  font-size: 30px;
}
.usermain-navbar-home {
  color: white;
  cursor: pointer;
  font-size: 18px;
}
.usermain-navbar-chat {
  background-color: white;
  color: #6d3698;
  font-size: 14px;
  height: 35px;
  display: flex;
  justify-content: center;
  width: 85px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 3px 3px 15px 3px #00000040;
  align-items: center;
}
.usermain-navbar-iconloop {
  color: #6d3698;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  
}
.user-profile-icon {
  font-size: 16px;
  color: #6d3698;
}
.user-profile-para {
  font-size: 16px;
  color: #6d3698;
}
.user-profile-card {
  width: 100%;
  height: 90vh;
}
.user-profile-img {
  height: 250px;
  width: 250px;
  border-radius: 150px;
  /* z-index: 1; */
}
.user-profile-imgdiv {
  margin-top: -100px;
}
.user-profile-btnedit {
  color: white;
  background-color: #6d3698;
  border: none;
  height: 45px;
  width: 120px;
  border-radius: 20px;
}
.useredit-profile-nav {
  background: linear-gradient(180deg, #7a48a1 0%, rgba(122, 72, 161, 0.8) 100%);
  height: 30vh;
  width: 100%;
  padding-top: 40px;
}
.useredit-profile-navicon {
  color: white;
  font-size: 30px;
}
.useredit-profile-navedit {
  padding-top: 80px;
}
.useredit-profile-img {
  height: 250px;
  width: 250px;
  border-radius: 150px;
}
.useredit-profile-icon {
  height: 50px;
  width: 50px;
  margin-left: -80px;
  margin-top: 180px;
}
.useredit-profile-label {
  font-weight: 600;
}
.useredit-profile-textbox {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border-color: black;
  padding-left: 15px;
}
.useredit-profile-updatebtn {
  color: white;
  background-color: #662c93;
  height: 44px;
  width: 100px;
  border: none;
  border-radius: 26px;
}
.useredit-profile-color-link {
  color: white;
}

/* UserAdd Item To Sell */

.useradd-itemtosell-color-link {
  color: #662c93;
  font-size: 25px;
}
.useradd-itemtosell-div {
  color: #662c93;
  font-size: 30px;
  margin-top: -30px;
}
.useradd-itemtosell-select {
  height: 40px;
  width: 50%;
  border-radius: 10px;
}
.useradd-itemtosell-label {
  font-weight: 500;
  font-size: 17px;
}
.useradd-itemtosell-radio {
  margin-left: 34px;
  size: 30px;
}
.useradd-itemtosell-quantitybtn {
  border-color: #662c93;
  background-color: white;
  height: 4vh;
  width: 5%;
  border-radius: 10px;
  color: #662c93;
}
.useradd-itemtosell-quantity-span {
  color: #662c93;
  font-size: 20px;
}
.useradd-itemtosell-uploadimg {
  margin-left: 215px;
}
.useradd-itemtosell-reviewimg {
  border-radius: 100px;
  width: 150px;
  height: 150px;
}
.useradd-itemtosell-textbox {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 0.86px solid #00000080;
  /* padding-left: 200px; */
}
.useradd-itemtosell-uploadicon {
  position: relative;
  top: 30px;
  left: -40px;
}
.useradd-itemtosell-textbox1 {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 0.86px solid #00000080;
  padding-left: 10px;
}
.useradd-itemtosell-itemtextbox {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  border: 0.86px solid #00000080;
}
.useradd-itemtosell-pinlabel {
  padding-top: 30px;
  font-weight: 500;
  font-size: 17px;
}
.useradd-itemtosell-postbtn {
  color: white;
  border: none;
  background-color: #662c93;
  height: 70px;
  width: 40%;
  border-radius: 20px;
  font-size: 30px;
  box-shadow: 0px 3.42px 3.42px 0px #00000040;
}
.useradd-itemtosell-box {
  width: 100%;
  height: 120vh;
  top: 262px;
  left: 147px;
  gap: 0px;
  border: 0.86px 0px 0px 0px;

  border: 0.86px solid #6d3698;
  box-shadow: 3.42px 0px 3.42px 0px #00000040;
}

/* UserView ItemToBuy */

.userview-itemtobuy-color-link {
  color: #662c93;
  font-size: 25px;
}
.userview-itemtobuy-airpods {
  height: 70vh;
  width: 100%;
}
.userview-itemtobuy-h5 {
  color: #662c93;
}
.userview-itemtobuy-label {
  color: #662c93;
  font-size: 20px;
}
.userview-itemtobuy-textbox {
  height: 5vh;
  width: 50%;
  border: 0.44px solid #6e3799;
  border-radius: 10px;
  color: #662c93;
}
.userview-itemtobuy-label1 {
  color: #662c93;
  font-size: 15px;
}
.userview-itemtobuy-airpods1 {
  height: 20vh;
  width: 100%;
}
.userview-itemtobuy-exchangebtn {
  border: none;
  background-color: #662c93;
  color: white;
  height: 60px;
  width: 40%;
  border-radius: 16px;
  font-size: 25px;
}
.userEdit-cardTitle
{
margin-left: 43%;}