.landing-page-color{
    background: linear-gradient(109.33deg, #662C93 1.13%, rgba(102, 44, 147, 0.7) 99.15%);
        width: 100%;
}
.landingpage-img{
    height: 600px;
    width: 700px;
}
.landing-page-para{
    font-size: 60px;
    color: white;
    text-align: left;
    margin-top: 130px;
    font-weight: bold;
    word-spacing: 10px;
}
.landing-page-para1{
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
.landing-page-button{
    background-color: white;
    border-color: white;
    height: 100px;
    width: 400px;
    margin-top: 80px;
    margin-left: 170px;
    font-size: 30px;
    font-weight: 500px;
    border-radius: 8px;
    font-weight: 600;
} 